html{
    font-family: 'Courier New', Courier, monospace;
}

header, footer{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(57, 57, 57);       
    padding: 20px;
    height: 40px;
}
header>*, footer>*{
    margin-right: 40px ;
    text-decoration: none;
    color: floralwhite;
}
header> button > img, header>button{
    width: 24px;
    height: auto;
    background: none;
    font-size: 16px;
    border-width: 0;
    margin-right: 80px;
}

#cart-btn:hover{
    scale: 120%;
}


header>a:hover, footer>a:hover {
    text-decoration: underline;
}

header{
    position: relative;
    top: 0px;
}

#caracteristicas > div {
    text-align: center;
    border-style: solid;
    height: fit-content;
    width: fit-content;
}

.precio-servicio {
    display: flex;
    justify-content:space-around;
    text-align: center;
}
  
  .landing-image {
      width: auto;
      /* Ancho del contenedor */
      height: auto;
      /* Altura del contenedor */
     
      text-align: center;
      /* Centrar contenido horizontalmente */
      display: flex;
      /* Usar flexbox para centrar verticalmente */
      justify-content: center;
      /* Centrar contenido verticalmente */
      align-items: center;
      /* Centrar contenido verticalmente */
      flex-direction: column;
  }

  img {
      max-width: 100%;
      /* Para asegurar que la imagen no se desborde del contenedor */
      max-height: 100%;
      /* Para asegurar que la imagen no se desborde del contenedor */
  }


  .slogan{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;

  }

  .titulos{
    
    text-align: center;
  }


footer {
    position: auto;
    bottom: 0px;
}

header>*:last-child, footer>*:last-child {
    margin-left: auto;
}