html{
    font-family: 'Courier New', Courier, monospace;
}

header, footer{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(57, 57, 57);       
    padding: 20px;
    height: 40px;
}

header>*, footer>*{
    margin-right: 40px ;
    text-decoration: none;
    color: floralwhite;
}

header> button > img, header>button{
    width: 24px;
    height: auto;
    background: none;
    font-size: 16px;
    border-width: 0;
    margin-right: 80px;
}

#cart-btn:hover{
    scale: 120%;
}

header>a:hover, footer>a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0px;
    z-index: 100;
}

footer {
    position: fixed;
}

.titulos{
    
    text-align: center;
  }

header>*:last-child, footer>*:last-child {
    margin-left: auto;
}

body {
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 120px;
}

#mainContent{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 0px;
}

#form>label, #form>input, #form>select, #inquiry{
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    resize:vertical;
    max-height: 200px;
}

#form>label, #form>button{
    margin-top: 50px;
    font-weight: 600;
}

#form>input, #form>select, #inquiry{
    height:fit-content;
    box-sizing: border-box;
    position: relative;
    border-width: 4px;
    border-radius: 2px;
    border-color: rgb(188, 188, 188);
    border-style: solid;
    font-weight: 100;
}

#inquiry{
    min-height: 8em;
    max-height: 24em;

}

#form>input:focus, #form>select:focus, #inquiry:focus{
    outline: 4px dotted rgb(0, 0, 0);

}

#form>button{
    float:right;

    background-color: black;
    border-width: 0px;
    border-radius: 24px;
    color: floralwhite;
    padding: 12px;
}

#form>button:hover {
    padding: 12px 18px;
    border-radius: 4px;
    font-size: large;
    background-color: floralwhite;
    border-width: 2px;
    border: 2px solid black;
    color: black;  
}

#form>button:hover {
    background-color: black;
    color: floralwhite;    
}

#aboutUsInfo{
    text-align: center;
    margin-bottom: 120px;
    padding-bottom: 12px;
    border-bottom: 4px solid grey;
}

#aboutUsInfo>p{
    text-align: left;
}
#mainContent a{
    text-decoration: none;
    color: coral;

}
#mainContent a:hover {
    text-decoration: underline;
}

#form>h1{
    text-align: center;
}


.background {
    width: 100%;
}

.company {
    font-size: 100px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#shopping-cart{
    position: fixed;
    background-color: white;
    width: 500px;
    height: 800px;
    top:60px;
    right: 20px;
    padding: 0 20px;
    box-shadow: -6px 6px 48px grey;
    border-radius: 8px;
    z-index: 1;
    resize:vertical;
}

#shopping-cart>h2:first-child{
    float: right;
    display: block;
}

#shopping-cart-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    margin: 0 auto;
    max-height: 800px;
    resize: vertical;

    background-color: black;
}
.shopping-cart-item{
    margin-bottom: 10px;
    width: 100%;;
    height: 100px;
    font-size: 1.5em;

  
    background-color: aquamarine;  
}

#totalPriceTag{
    display: inline-block;
    margin-top: 0px;
}

#totalPrice{
    float:right;
    font-weight: 900;
    font-size: 2em;
}

#shopping-cart-content>div>span, #shopping-cart>span {
    font-weight: 45em ;

}

#price{
    padding: 40px 0;
}