html{
    font-family: 'Courier New', Courier, monospace;
}

header, footer{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(57, 57, 57);       
    padding: 20px;
    height: 40px;
}
header>*, footer>*{
    margin-right: 40px ;
    text-decoration: none;
    color: floralwhite;
}
header> button > img, header>button{
    width: 24px;
    height: auto;
    background: none;
    font-size: 16px;
    border-width: 0;
    margin-right: 80px;
}

#cart-btn:hover{
    scale: 120%;
}


header>a:hover, footer>a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0px;
    z-index: 100;
}

#caracteristicas > div {
    text-align: center;
    border-style: solid;
    height: fit-content;
    width: fit-content;
}

footer {
    position: fixed;
}
.precio-servicio {
    display: flex;
    justify-content:space-around;
    text-align: center;
}
  
  .landing-image {
      width: auto;
      /* Ancho del contenedor */
      height: auto;
      /* Altura del contenedor */
     
      text-align: center;
      /* Centrar contenido horizontalmente */
      display: flex;
      /* Usar flexbox para centrar verticalmente */
      justify-content: center;
      /* Centrar contenido verticalmente */
      align-items: center;
      /* Centrar contenido verticalmente */
      flex-direction: column;
  }

  img {
      max-width: 100%;
      /* Para asegurar que la imagen no se desborde del contenedor */
      max-height: 100%;
      /* Para asegurar que la imagen no se desborde del contenedor */
  }


  .slogan{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;

  }

  .titulos{
    
    text-align: center;
  }




header>*:last-child, footer>*:last-child {
    margin-left: auto;
}

body {
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 120px;
}
#mainContent{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#form>label, #form>input, #form>select, #inquiry{
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    resize:vertical;
    max-height: 200px;
}

#form>label, #form>button{
    margin-top: 50px;
    font-weight: 600;
}

#form>input, #form>select, #inquiry{
    position: relative;
    border-width: 4px;
    border-radius: 2px;
    border-color: rgb(188, 188, 188);
    border-style: solid;
}
#form>input:focus, #form>select:focus, #inquiry:focus{
    outline: 2px dashed black;

}
#form>button{
    float:right;
    background-color: black;
    border-width: 0px;
    border-radius: 24px;
    color: floralwhite;
    padding: 12px;
}
#form>button:hover {
    background-color: floralwhite;
    border-radius: 24px;
    border-width: 2px;
    border: 2px solid black;
    color: black;
    padding: 12px;
}

#contactUsInfo, #aboutUsInfo{
    text-align: center;
    margin-bottom: 120px;
    border-bottom: 4px solid rgb(188, 188, 188);
}

#aboutUsInfo>p{
    text-align: left;
}
#mainContent a{
    text-decoration: none;
    color: coral;

}
#mainContent a:hover {
    text-decoration: underline;
}

#form>h1{
    text-align: center;
}